.jumbotron-fluid{
    border-bottom: 10px;
       border: solid;
       border-color:#000000;
       background-image: url(assets/header.jpg);
       -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
      background-position-x: center;
   }
   .footer {
position: absolute;
 bottom: 0;
 width: 100%;
 /* Set the fixed height of the footer here */
 height: 60px;
 background-image: url(assets/header.jpg);
       -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    background-position-x: center;
 
    border-top-width: 50px;
       border: solid;
       border-color:#000000;
 
}
html {
 position: relative;
 min-height: 100%;
}
body {
 /* Margin bottom by footer height */
 min-height: 100%;

 /* margin-bottom: 40px; */
}

.imageLink{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .95;
}

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
