
   .footer {
position: absolute;
 bottom: 0;
 width: 100%;
 /* Set the fixed height of the footer here */
 height: 60px;
}
html {
 position: relative;
 min-height: 860px;
}
body {
 /* Margin bottom by footer height */
 min-height: 100%;
 background-image: url(http://resimdiyari.com/action.php?id=8348&part=e&download);
 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    background-position-x: center;
    font-family: 'Amaranth', sans-serif;
 /* margin-bottom: 40px; */
}
h3{
    /* background-color: #55eb7f; */
    /* background-image: linear-gradient(to bottom, #6955eb, #0093ff, #00bbff, #00d7c3, #55eb7f); */
}
.navbar{
    /* background-image: linear-gradient(to bottom, #6955eb, #0093ff, #00bbff, #00d7c3, #55eb7f); */
    /* background-color: #6955eb; */

}

.imageLink{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .95;
}

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
